<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome to the Game</title>
      {% endif %}
    </head>
    <body>
        <div>The Game:
            <a href="/index">Main Menu</a>
            <a href="/splayer">Single Player</a>
            <a href="/mplayer">Multiplayer</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>